<%- include('./partials/header') %>


<h1>Add New Guitar</h1>
<form id="addGuitarForm">
  <input type="text" id="imageLink" name="imageLink" placeholder="Enter Image Link">
  <button type="submit" id="addGuitarBtn">Add Guitar</button>
</form>

<!-- guitar picture button-->
<div>
  <% guitars.forEach((guitar) => { %>
    <div>
      <h2><%= guitar.brand %> <%= guitar.model %></h2>
      <p>Year: <%= guitar.year %></p>
      <p>Price: <%= guitar.price %></p>
      <p>Image Link: '<%= imageLink %>'</p>
    </div>
  <% }) %>
</div>

<script>
  const addImageBtn = document.getElementById('addImageBtn');
  addImageBtn.addEventListener('click', function() {
    const imageLinkInput = document.getElementById('imageLink');
    const imageLink = imageLinkInput.value;
    console.log('Image Link:', imageLink);
    // clear input field
    imageLinkInput.value = '';
  });
</script>
<%- include('./partials/footer') %>